<a href="https://colab.research.google.com/github/CellsToCode/python-tutorials/blob/main/how_to/make_pivot_tables_in_pandas/01_Practice_Pivot_tables_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Pivot Tables with Python & Pandas
---

Notebook used on [cellstocode.com](https://cellstocode.com/how-to-create-pivot-tables-using-python-and-pandas/) & on the [Cells to Code Youtube channel](https://www.youtube.com/channel/UCWsV0g7vAE4EJJwPc30VJfA)

## **Excel:**

*   Created on Ribbon -> Insert

![pivot-tables.png]()

## **Python:**



*   Uses pd.pivot_table()
*   Assumes dataframe


    pd.pivot_table(df
               , index='Rows'              # Rows box in Excel
               , columns='Columns'         # Columns Box in Excel
               , values='Values'           # Values box in Excel (choose variable to aggregate)
               , aggfunc='sum')           # Value Field Settings window in Excel (default is mean)


OR

    df.pivot_table()



<br>

### Load required packages and data

In [ ]:
# Import required packages ()

In [ ]:
# Import data

<br>

### Excel Demo: Use `cars` dataframe to build simple pivot table in Excel
---

In [ ]:
# Preview cars dataframe

<br>

In [ ]:
# Create pivot table with Cylinders on rows (index)

<br>

In [ ]:
# Create pivot table with Cylinders on columns

<br>

In [ ]:
# Create pivot table which returns averages for variables broken out by Origin (columns) and Cylinders (index)

<br>

In [ ]:
# Create pivot table which counts the number of cars created by Origin (columns) and Cylinders (index)

<br>

In [ ]:
# Create pivot table which counts the number of cars created by Origin and Cylinders (include fill_value, margins, margins_name) - save to a df called cars_pivot

<br>

<br><br>

## Exporting the Results

In [ ]:
# Output the final result

<br><br>

## Using multiple arguments

In [ ]:
# Create pivot table which returns the total and average miles per gallon by Origin and Cylinders