<a href="https://colab.research.google.com/github/CellsToCode/python-tutorials/blob/main/Datatypes/How_to_Convert_a_Python_Float_to_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Convert A Python Float To String
A quick tutorial from Cells To Code

<br>

## Convert Python Float to String

If you are only dealing with a single float value, the fastest way to convert it to a string is to wrap it inside the `str()` function.

In [1]:
# Our floats!
e = 2.71828182845904523536028747135266249775724709369995
pi = 3.14159265359
the_answer = 42.00

# Wrap float in the str() function to convert to string
str(pi)

'3.14159265359'

We know that both of these values have been converted to a string because of the single ticks (' ') shown on either side of our number in the output. 

If we wanted to be 100% sure that the conversion had worked, we could also test it by using the `type()` function.

In [2]:
type(str(pi))

str

<br><br>

## Python Float to String without decimal

---

You can also apply rounding to the float before converting it to a string. To do this, all you need to do is wrap the float inside the `round()` function first.

In [3]:
# Next the round function inside str() to round
str(round(the_answer))

'42'

<br><br>

## Python Float to String with 2 Decimals

You can choose the number of decimals to round to by giving the `round()` function an extra argument after telling it what number you are rounding.

In [4]:
# Round to 2 decimals instead
str(round(pi, 2))

'3.14'

<br><br>

## Python Float to String in List

### Example 1: `map()`

In [5]:
# Create a list of all our cool float values
float_list = [e, pi, the_answer]
float_list

[2.718281828459045, 3.14159265359, 42.0]

One of the best ways to convert a list of floats to strings in Python (in my opinion) is to use the `map()` function.  This function works by taking 2 main arguments â€” the function you want to use and the object you want to use it on.

In [6]:
# Use the map function to apply str() to a list
# Map works on any iterable like lists, strings, tuples, dictionaries, etc..
map(str, float_list)

The output we get back returns an odd reference with a bunch of numbers and letters. Those numbers and letters represent a spot in our computer's (or cloud computer's) memory. Without diving too much into the technical details, it is basically saying that we have a map object we built that is being stored for us. 

To get the result back to something useful, we need to next our code inside the list() function. We can then save this to a new variable and confirm that our mapping worked.

In [7]:
# Wrap map() inside list() to see our results
float_list_str = list(map(str, float_list))
float_list_str

['2.718281828459045', '3.14159265359', '42.0']

<br><br>

### Example 2: List comprehension

Instead of using `map( )`, you could also use a list comprehension to accomplish the same thing. The way you use them is by wrapping your desired output, collection, and condition in square brackets. 

Here is an example of a list comprehension that creates a list of even numbers under 10. The result is a list containing [0, 2, 4, 6, 8].

<!-- wp:image {"align":"center","id":2279,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image aligncenter size-full"><img src="https://cellstocode.com/wp-content/uploads/2022/07/image.png" alt="" class="wp-image-2279"/></figure>
<!-- /wp:image -->

To convert our list of floats to strings we can call on the `str()` function we used above. Our desired output will be to apply `str()` to every item in the list. We also don't need to include a condition in this case since we are trying to apply the operation to every item.

In [8]:
string_list = [str(every_item) for every_item in float_list]
string_list

['2.718281828459045', '3.14159265359', '42.0']

<br><br>

## Convert pandas series of floats to strings

Let's start out by creating a single-column data frame with the [`pd.DataFrame()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) function.

In [9]:
import pandas as pd

df = pd.DataFrame({'insert_unique_column_name_here': float_list})
df

   insert_unique_column_name_here
0                        2.718282
1                        3.141593
2                       42.000000

To convert these values from float to string all I need to do is use the [`.astype()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html) method on my data frame and give it an argument of str. Since I only want to perform the operation on a single series, I also want to select my column in square brackets.

In [10]:
df['insert_unique_column_name_here'].astype(str)

0    2.718281828459045
1        3.14159265359
2                 42.0
Name: insert_unique_column_name_here, dtype: object

<br><br>

## Pro Tip: F-Strings

The last thing I want to show you is how to use [f-strings](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals).

F-strings are great because they make it so you can use a float (or other expression value) inside a string without converting it first. 

You use an f-string by placing the letter F (upper or lower case) right before you start your string. Then, you take the value you want to squeeze into the string and place it in curly brackets { }. Wrap that all inside a print statement and now you have a string that includes your float value!

In [11]:
print(f'The Ultimate Answer to Life, The Universe and Everything is...{round(the_answer)}!')

The Ultimate Answer to Life, The Universe and Everything is...42!